{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Navigation:
 * - main_menu: The Main menu links for the site, if they have been configured.
 * - secondary_menu: The Secondary menu links for the site, if they have been
 *   configured.
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - feed_icons: All feed icons for the current page.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see template_process()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div id="page">

  <header id="header" role="banner" class="clearfix">

    {% if logo %}
      <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home" id="logo">
        <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
      </a>
    {% endif %}

    {% if site_name or site_slogan %}
      <div id="name-and-slogan">
        {% if site_name %}
          {% if title %}
            <p id="site-name"><strong>
              <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
            </strong></p>
          {# Use h1 when the content title is empty #}
          {% else %}
            <h1 id="site-name">
              <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
            </h1>
          {% endif %}
        {% endif %}

        {% if site_slogan %}
          <p id="site-slogan">{{ site_slogan }}</p>
        {% endif %}
      </div><!-- /#name-and-slogan -->
    {% endif %}

    {{ page.header }}

  </header>

  {% if main_menu or secondary_menu %}
    <nav role="navigation">
      {{ main_menu }}
      {{ secondary_menu }}
    </nav>
  {% endif %}

  {{ breadcrumb }}

  {% if messages %}
    <div id="messages">{{ messages }}</div>
  {% endif %}

  <div id="main" role="main" class="clearfix">
    <a id="main-content"></a>

    <div id="content" class="column">
      {% if page.highlighted %}<div id="highlighted">{{ page.highlighted }}</div>{% endif %}
      {{ title_prefix }}
      {% if title %}<h1 class="title" id="page-title">{{ title }}</h1>{% endif %}
      {{ title_suffix }}
      {% if tabs %}<div class="tabs">{{ tabs }}</div>{% endif %}
      {{ page.help }}
      {% if action_links %}<ul class="action-links">{{ action_links }}</ul>{% endif %}
      {{ page.content }}
      {{ feed_icons }}
    </div><!-- /#content -->

    {% if page.sidebar_first %}
      <div id="sidebar-first" class="column sidebar">
        {{ page.sidebar_first }}
      </div><!-- /#sidebar-first -->
    {% endif %}

    {% if page.sidebar_second %}
      <div id="sidebar-second" class="column sidebar">
        {{ page.sidebar_second }}
      </div><!-- /#sidebar-second -->
    {% endif %}

  </div><!-- /#main -->

  <footer id="footer" role="contentinfo">
    {{ page.footer }}
  </footer>

</div><!-- /#page -->
